body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    position: fixed;
    background-image: linear-gradient(to bottom, #AFE0F4, #E1EEC8);
    width: fit-content;
    height: 100%;
    /* margin-top: -144px; */
    overflow-y: auto;
    padding: 40px 25px 0 45px;
    width: 300px;
}

.logo {
    display: flex;
    padding: 0 8px;
}

.sidebar h3 {
    line-height: 14px;
}

.sidebar p {
    font-size: 15px;
    color: rgb(68, 68, 68);
    line-height: 14px;
    width: 220px;
    padding: 20px 20px;
}

.sidebar span {
    color: rgb(68, 68, 68);
    font-size: 13px;
}

i {
    color: rgb(68, 68, 68);
}

.ques {
    margin-left: 35px;
    border-left: 1px solid rgb(163, 163, 163);
}

.ques p {
    width: 150px;
    padding: 10px 15px;
    margin-left: 5px;
}

.emp {
    margin-left: 30px;
    border-left: 1px solid rgb(163, 163, 163);
}

.emp p {
    width: 155px;
    padding: 10px 15px;
    margin-left: 5px;
}

.sidebar p:hover {
    background-color: #DFF3FB;
    border-radius: 8px;
    cursor: pointer;
}

.res {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.navbar {
    background-image: linear-gradient(to right, #F8FDFF, #F6FAEF);
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    padding: 25px 30px;
}

.navbar h3 {
    line-height: 14px;
}

.navbar span {
    font-size: 13px;
    color: rgb(68, 68, 68);
}

.inline {
    display: flex;
    margin-top: 20px;
}

.inline i {
    margin: 0 20px;
}

.search {
    width: 250px;
    height: 28px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}

.menu {
    display: none;
}

.btn-1 {
    background-color: transparent;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.hide-icon-1 {
    display: none;
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {
    .hide-icon {
        display: none;
    }

    .hide-icon-1 {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .hide-icon {
        display: none;
    }

    .hidden-2 {
        display: none;
    }

    .navbar {
        margin-left: 0;
    }

    .navbar h3 {
        text-align: center;
        width: 250px;
    }

    .menu {
        display: block;
    }

    .search {
        display: none;
    }

}

@media screen and (max-width: 420px) {
    body {
        font-size: 15px;
    }

    h3 {
        font-size: 16px;
    }

    .sidebar span {
        font-size: 9px;
    }

    .sidebar h3 {
        line-height: 10px;
    }

    .navbar span {
        font-size: 9px;
    }

    .navbar h3 {
        line-height: 10px;
    }

    .btn-1 {
        margin-top: 20px;
    }

    .logo img {
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }
}


.navbar {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 90%;

    background: linear-gradient(138.51deg, #F8FDFF 59.84%, #F6FAEF 116.14%);

}

.heading {
    width: 322px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #242D35;


}

.heading-below {
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #A8B0B9;
}

.search-box {
    width: 250px;
    height: 28px;
    border: 1px solid #A8B0B9;
    border-radius: 8px;
}

.search-image {
    left: 4.15%;
    right: 92.89%;
    top: 35%;
    bottom: 36.37%;

    background: rgba(255, 255, 255, 0.43);
}

.logo-admin {
    display: flex;

}

.search-navbar {
    display: flex;
    justify-content: space-between;

}

.profile-box {
    box-sizing: border-box;
    width: 442px;
    height: 810px;
    margin-left: 340px;
    margin-top: 144px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.profile-image {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.profile-heading {
    margin: 0 auto;
    margin-top: 20px;
    width: 239px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #242D35;
}

.profile-heading-below {
    margin: 0 auto;
    margin-top: 8px;
    width: 278px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #4F5B67;

}

.skill {
    margin: 0 auto;
    margin-top: 25px;
    width: 130px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #666565;
}

.border {
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: 4px;
    background: #EAECEE;
    border-radius: 30px;
}

.inside-border {

    width: 100px;
    height: 4px;
    background: #AAD064;
    border-radius: 4px;

}

.inside-box {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 35px;
    width: 382px;
    height: 85px;
    background: #DFF3FB;
    border-radius: 8px;
}

.inside-box-content1 {
    margin-top: 20px;
    width: 92px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #717D8A;

}

.inside-box-contentans1 {
    width: 39px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.inside-box-content2 {
    margin-top: 20px;
    width: 50px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #717D8A;
}

.inside-box-contentans2 {
    width: 11px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.inside-box-content3 {
    margin-top: 20px;
    width: 71px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #717D8A;
}

.inside-box-contentans3 {
    width: 19px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.side-border1 {
    margin-top: 40px;
    width: 45px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}

.side-border2 {
    margin-top: 40px;
    width: 45px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}

.profile-contact {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
}

.contact-details {
    margin-top: 20px;
    width: auto;
    height: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

}

.location {
    margin-top: 15px;
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #777777;

}

.phonenumber {
    margin-top: 15px;
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #777777;

}

.email {
    margin-top: 15px;
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #777777;

}

.badge {
    margin-left: 25px;
    margin-top: 30px;
    width: 71px;
    height: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

}

.badges {
    display: flex;
    width: auto;
    justify-content: space-evenly;
    margin-top: 40px;
}

.total-flex {
    display: flex;
}

.complete-course {
    margin-top: 145px;
    margin-left: 70px;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #0C1116;
}

.right-top-flex {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.ongoing-course {
    margin-top: 144px;
    margin-left: 15px;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #A8B0B9;
}

.right-border {
    margin-top: 25px;
    margin-left: -153px;
    width: 169px;
    height: 4px;
    background: #1589CC;
}

.assignment-button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 144px;
    width: auto;
    height: 44px;
    background: #7BCCED;
    border-radius: 4px;

}

.total-flex2 {
    display: flex;
    flex-direction: column;
}


.right-flex1 {
    display: flex;
}

.right-flex2 {
    display: flex;

}

.complete-user1 {
    display: flex;

}

.complete-user2 {
    display: flex;

}

.complete-user3 {
    display: flex;

}

.user1 {
    margin-top: -750px;
    margin-left: 800px;
    width: 1000px;
    height: 199px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}

.user2 {
    margin-top: -505px;
    margin-left: 800px;
    width: 1000px;
    height: 199px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 10px;

}

.user3 {
    margin-top: -265px;
    margin-left: 800px;
    width: 1000px;
    height: 199px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}

.users-flex1 {
    display: flex;
    justify-content: space-around;
}

.result1 {
    margin-top: 40px;
    margin-right: 10px;
    background: #7BCCED;
    border-radius: 4px;
    width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

}

.user-skill1 {
    margin-top: 20px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #282828;
}

.user-topics1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: grey;
}

.user-border1 {
    border: 1px solid #D9D9D9;
}

.creation-flex {
    display: flex;
    justify-content: space-around;
}

.created-on {

    display: flex;
    padding: 20px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.created-by {

    display: flex;
    padding: 20px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.submitted-on {

    display: flex;
    padding: 20px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.result-query {

    display: flex;
    padding: 20px 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}



.bulb {
    margin-top: -50px;
    margin-left: -200px;
    transform: rotate(-15deg);
    opacity: 0.5;
}

@media screen and (max-width: 700px) {

    .profile-box {

        margin: 144px auto;
    }

    .total-flex {
        display: block;
    }
}

@media screen and (max-width : 1258px) {
    .total-flex {
        display: block;
    }

    .total-flex2 {
        display: block;
        flex-direction: column;
    }
}

@media screen and (max-width:1420px) {
    .complete-user1 {
        display: block;
    }

    .complete-user2 {
        display: block;
    }

    .complete-user3 {
        display: block;
    }
}







/* Employee Result */

h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #242D35;
}

.side2 {
    /* margin-left: 300px;95 */
    margin-left: -60px;
}

.line {
    width: 200.84px;
    border: 8px solid black;
}
.pt-1{
    cursor: pointer;
}
.popup-page{
    visibility: hidden;
    background: #FFFFFF;
    border-radius: 10px;
    height: 780px;
    width: 1000px;
    margin-top: -880px;
    margin-left: 500px;
    position: absolute;
}
.open{
    visibility: visible;
}